<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title><ui:insert name="title">Bootstrap 101 Template</ui:insert></title>
	
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="font-awesome.css" />
	<h:outputStylesheet library="css" name="custom.css" />
	<h:outputStylesheet library="css" name="slider.css" />
	<h:outputStylesheet library="css" name="slider2.css" />
	
	<h:outputStylesheet library="js" name="bootstrap.js" />
	<h:outputStylesheet library="js" name="bootstrap.min.js" />
	<h:outputStylesheet library="js" name="html5shiv.min.js" />
	<h:outputStylesheet library="js" name="jquery.min.js" />
	<h:outputStylesheet library="js" name="npm.js" />
	<h:outputStylesheet library="js" name="respond.min.js" />
 
    <h:outputStylesheet library="fonts" name="FontAwesome.otf" />
    <h:outputStylesheet library="fonts" name="FontAwesome-webfont.eot" />
    <h:outputStylesheet library="fonts" name="FontAwesome-webfont.svg" />
    <h:outputStylesheet library="fonts" name="FontAwesome-webfont.ttf" />
    <h:outputStylesheet library="fonts" name="FontAwesome-webfont.woff" />
    <h:outputStylesheet library="fonts" name="FontAwesome-webfont.woff2" />
    <h:outputStylesheet library="fonts" name="glyphicons-halflings-regular.eot" />
    <h:outputStylesheet library="fonts" name="glyphicons-halflings-regular.svg" />
    <h:outputStylesheet library="fonts" name="glyphicons-halflings-regular.ttf" />
    <h:outputStylesheet library="fonts" name="glyphicons-halflings-regular.woff" />
    <h:outputStylesheet library="fonts" name="glyphicons-halflings-regular.woff2" />
    
	

</h:head>
<h:body>
	<div id="container">
		<div id="header">
			<div class="container-fluid">
				<div class="row">
					<nav
						class="navbar navbar-default navbar-fixed-top text-center greenborder">
						<div class="container-fluid">
							<!-- <div class="navbar-header">
								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target="#myNavbar">
									<span class="reicon-bar"></span> <span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand padding-top padding-left" >
								<img src="/resouces/img/images.jpg" width="120%"></img></a>
							</div> -->
							<div class="collapse navbar-collapse" id="myNavbar">
								<ul class="nav navbar-nav pull-right">
									<li class="active"><a href="#">Home</a></li>
									<li><a href="#">About</a></li>
									<li><a href="#">exhibitions</a></li>
									<li><a href="#">Price</a></li>
									<li><a href="#">Artwork</a></li>
									<li class="dropdown"><a class="dropdown-toggle"
										data-toggle="dropdown" href="#">Gallery <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="#">Page 1</a></li>
											<li><a href="#">Page 2</a></li>
											<li><a href="#">Page 3</a></li>
										</ul></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</div>
						</div>

					</nav>
				</div>
			</div>


			<div class="row">
				<div class="container-fluid">

					<div class="row">
						<div id="carousel-example-generic" class="carousel slide"
							data-ride="carousel">

							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>

							<div class="carousel-inner">
								<div class="item active">
									<h:graphicImage library="img" name="newslider2.jpg" width="100%"
										alt="Second slide"></h:graphicImage>

								</div>
								<div class="item">
									<h:graphicImage library="img" name="newslider2.jpg" width="100%"
										alt="Second slide"></h:graphicImage>

								</div>
								<div class="item">
									<h:graphicImage library="img" name="newslider3.jpg" width="100%"
										alt="Third slide"></h:graphicImage>
								</div>
							</div>
							
							<div id="main">

								<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> 
									<span class="glyphicon glyphicon-chevron-left"></span></a>
									<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right"> </span> </a>

							</div>
						</div>
					</div>
					<div id="push"></div>
				</div>

			</div>
		</div>
		<br/><br/><br/><br/>
		<div id="content" align="center">
				<ui:insert name="content"></ui:insert>

			</div>
			
			<br/><br/><br/><br/><br/><br/><br/><br/>
		<div class="row">
			<div
				class="container-fluid background-green text-center padding-x margin-top">
				<a href="#"><i class="fa fa-twitter lightgreen padding fontsize"></i></a>
				<a href="#"><i
					class="fa fa-facebook lightgreen padding fontsize"></i></a> <a href="#"><i
					class="fa fa-dribbble lightgreen padding fontsize"></i></a> <a href="#"><i
					class="fa fa-flickr lightgreen padding fontsize"></i></a> <a href="#"><i
					class="fa fa-github lightgreen padding fontsize"></i></a>
			</div>
		</div>
		
		<div id="footer">
			<div class="row">
				<div class="container-fluid background-black padding-10">

					<small><a class="padding lightblack" href="#">Home</a>|</small> <small><a
						class="padding lightblack" href="#">About</a>|</small> <small><a
						class="padding lightblack" href="#">Services</a>|</small> <small><a
						class="padding lightblack" href="#">Price</a>|</small> <small><a
						class="padding lightblack" href="#">Projects</a>|</small> <small><a
						class="padding lightblack" href="#">Contact</a></small>


				</div>
			</div>
		</div>


		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/resources/js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/resources/js/bootstrap.min.js"></script>
	</div>
</h:body>
</html>