.blackborder{border-top:5px solid #9cbf23 !important;}
.paddingbottom-x{padding-bottom:10px !important;}
.padding-x{padding:18px;}
.background-black{background-color:black;}
.lightblack{color:black;}
.padding{padding:8px;}
.fontsize{font-size:20px;}
.background-black{background-color:#000000;}
.padding-10{padding:10px;}
.lightblack{color:#5b5b59;}
.margin-top{margin-top:35px;}
.black{color:black;}
.padding-top{padding-top:1.5%;}
.padding-left{padding-left:25%;}
