.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: black;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: black;
    background-color: transparent;
    border-color: black;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: black;
}
