<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:e="http://java.sun.com/jsf/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:k="http://primefaces.org/ui"
      xmlns:p="http://java.sun.com/jsf/html"> 

<h:head>List Users</h:head> 
<body> 
<h:form>      
    
    <k:panel id="panel" header="Search Form" style="margin-bottom:10px;">
        <k:messages id="messages" />
 
        <h:panelGrid columns="4" cellpadding="5">
    
<k:dataTable var="a" value="#{userbean.artists}" widgetVar="usersTable">
<f:facet name="header">
            <k:outputPanel>
                <h:outputText value="Search all fields:" />
                <k:inputText id="globalFilter" onkeyup="PF('usersTable').filter()" style="width:150px" placeholder="Enter keyword"/>
            </k:outputPanel>
        </f:facet>
 
    <k:column headerText="Login">
          <h:outputText value="#{a.login}" />
    </k:column>
 
    <k:column headerText="First name">
    
        <h:outputText value="#{a.firstName}" />
    </k:column>
 
    <k:column headerText="Email">
    
        <h:outputText value="#{a.mail}" />
    </k:column>
 
    <k:column headerText="Pass">
    
        <h:outputText value="#{a.password}" />
    </k:column>
    
     <k:column headerText="Action">
    
        <h:commandButton action="#{userbean.suppUser()}"
						value="Supprimer">
						<f:setPropertyActionListener value="#{user}"
							target="#{userbean.user}"></f:setPropertyActionListener>
					</h:commandButton>
	  <h:commandButton action="#{userbean.modifUser()}"
						value="Modifier">
						<f:setPropertyActionListener value="#{user}"
							target="#{userbean.user}"></f:setPropertyActionListener>
					</h:commandButton>
    </k:column>
</k:dataTable>
   </h:panelGrid>
    </k:panel>

</h:form>
</body> 
</html>
