<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
		<h:form>
      <p:panel id="panel" header="Inscription" style="margin-bottom:10px;">            
    <p:growl id="growl" sticky="true" showDetail="true"/>
 
    <h:panelGrid columns="1">
			<h:outputLabel value="First Name" />
			<h:inputText value="#{inscrib.nom}" />
			<h:outputLabel value="Last Name" />
			<h:inputText value="#{inscrib.k}" />
			<h:outputLabel value="Description" />
			<h:inputText value="#{inscrib.e}" />
			<h:outputLabel value="Experience" />
			<h:inputText value="#{inscrib.experience}" />
			<h:outputLabel value="Login" />
			<h:inputText value="#{inscrib.b}" />
			<h:outputLabel value="Password" />
			<h:inputText  value="#{inscrib.c}" />
			<h:commandButton action="#{inscrib.adduser()}" value="Ajouter" />
			</h:panelGrid>
			
 </p:panel>
</h:form>
</body>
	
</html>

