<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="identity"></ui:define>		
			<ui:define name="content">
			
			<h:head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<meta http-equiv="X-UA-Conpatible" content="IE=edge" />
			<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
			<title>Add Categories</title>
		</h:head>
		<h:body>
			<div class="container">
				<div class="navbar navbar-inverse">
					<div class="navbar-brand">
						Add Categories
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h:form styleClass="form-horizontal">
							<div class="form-group">
								<h:outputLabel value="Name" styleClass="control-label col-sm-2" />
								<div class="col-sm-10">
									<h:inputText value="#{manageCategoryBean.name}"
										styleClass="form-control" />
								</div>
							</div>


							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">

									<h:commandButton action="#{manageCategoryBean.addCategory()}"
										value="Create" styleClass="btn btn-default" />

								</div>
							</div>
						</h:form>
						
						
					</div>
				</div>
			</div>

		</h:body>
			</ui:define>
</ui:composition>