<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/template.xhtml">
                	
			<ui:define name="identity"></ui:define>		
			<ui:define name="content">
			
			<h:form>
			<h:panelGrid columns="1">
			<h:outputLabel value="description" />
			<h:inputText value="#{manageSpecialtyBean.description}" />
			<h:commandButton action="#{manageSpecialtyBean.addSpecialty()}" value="Add />
			</h:panelGrid>
			
			</h:form>
			</ui:define>
</ui:composition>